<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container">
  <br>
  <div class="card bg-light">
    <form th:action="@{/vista/producto/save}" th:object="${producto}" method="post">
      <div class="card-header bg-dark text-white" th:text="${titulo}"></div>
      <div class="card-body">
        <div class="row g-2 pt-3">
          <div class="col-md">
            <div class="form-floating">
              <input type="hidden" th:field="*{id}">
              <input type="text" th:field="*{codigo}" class="form-control" id="codigo" placeholder="Codigo">
              <label for="codigo" class="form-label text-muted">Codigo del producto</label>
              <small class="form-text text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></small>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre">
              <label for="nombre" class="form-label text-muted">Nombre</label>
              <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="text" th:field="*{marca}" class="form-control" id="marca" placeholder="Marca">
              <label for="marca" class="form-label text-muted">Marca</label>
              <small class="form-text text-danger" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></small>
            </div>
          </div>
        </div>

          <div class="row g-2 pt-3">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" th:field="*{modelo}" class="form-control" id="modelo" placeholder="Modelo">
                <label for="modelo" class="form-label text-muted">Modelo</label>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}"></small>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" th:field="*{precio}" class="form-control" id="precio" placeholder="precio">
                <label for="precio" class="form-label text-muted">Precio</label>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" th:field="*{stock}" class="form-control" id="stock" placeholder="stock">
                <label for="stock" class="form-label text-muted">Stock</label>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></small>
              </div>
            </div>
          </div>
      </div>

        <div class="card-footer bg-dark mt-3">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button id="return" type="button" class="btn btn-secondary float-end">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
<footer th:replace="plantilla/template :: footer"></footer>

<script>
  const $codigo = document.querySelector('#codigo')
  const $return = document.querySelector('#return')

  $return.onclick = () => history.back()

  $codigo.onkeydown = (e) => {
    if (e.target.value.length >= 5 && e.key.length === 1) e.preventDefault()
  }

</script>
</body>
</html>
