<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container">
  <h1 th:text="${titulo}"></h1>
</div>
<div class="container">
  <a
    class="btn btn-primary m-2"
    th:href="@{/vista/producto/crear}"
    th:text="'Nuevo Producto'"
    title="Crear Nuevo Registro"
  ></a>
  <table class="table text-center table-bordered table-striped table-hover align-middle">
    <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CODIGO</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">MARCA</th>
      <th scope="col">MODELO</th>
      <th scope="col">PRECIO</th>
      <th scope="col">STOCK</th>
      <th scope="col">ACCIONES</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pr:${productos}">
      <th scope="row" th:text="${pr.id}"></th>
      <td th:text="${pr.codigo}"></td>
      <td th:text="${pr.nombre}"></td>
      <td th:text="${pr.marca}"></td>
      <td th:text="${pr.modelo}"></td>
      <td th:text="${pr.precio}"></td>
      <td th:text="${pr.stock}"></td>
      <td>
        <a
          class="btn btn-success btn-sm m-1 bi bi-pencil-fill"
          th:href="@{/vista/producto/edit/} + ${pr.id}"
          title="Editar Registro"
        >
        </a>

        <a
          class="btn btn-danger btn-sm m-1 bi bi-trash-fill"
          th:href="@{/vista/producto/delete/} + ${pr.id}"
          title="Eliminar Registro"
          onclick="return confirm('Esta seguro de eliminar el registro?');"
        >
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>